* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/README.md -text
/pom.xml -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/AskTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/ConstructTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/DescribeTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/ParameterTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/PrefixTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/QueryTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/SetEndpointTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/SetTriplestoreTag.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/Endpoint.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/Graph.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/Parameter.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/Prefix.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/ResultImplementation.java -text
src/main/java/edu/uiowa/slis/SPARQLTagLib/util/Triplestore.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/test/java/edu/uiowa/slis/SPARQLTagLib/README.txt -text
src/test/resources/README.txt -text
